<header class="flex">
  <img alt="Valant logo" width="150" src="../assets/valant_logo.png" />
  <h1>Welcome to {{ title }}</h1>
</header>
<main>
  <h2>Hi there</h2>
  <p>Thanks for being you.</p>
  <!-- todo: break out into componnent-->
  <label for="maze-selector">Select a Maze</label>
  <ul id="maze-selector">
    <li *ngFor="let name of mazeNames" (click)="select(name)">{{name}}</li>
  </ul>
  <!-- todo: break out into component-->
  <label for="upload">Upload Your Maze!</label>
  <input type="file" id="upload" accept="application/JSON" (change)="uploadFile($event.target.files)">
</main>
